## Create a new Jupyter Notebook file and name it Vacation_Itinerary.ipynb.

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

## Import the WeatherPy_vacation.csv file from Part 1 as a new DataFrame.

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Tessalit,ML,2019-11-04 08:02:54,20.20,1.01,88.07,14,0,11.21,clear sky,0.0,0.0
1,1,Atuona,PF,2019-11-04 08:02:54,-9.80,-139.03,80.33,76,0,18.99,clear sky,0.0,0.0
2,2,Mataura,NZ,2019-11-04 08:02:54,-46.19,168.86,66.00,50,100,4.00,overcast clouds,0.0,0.0
3,3,Ulladulla,AU,2019-11-04 08:02:55,-35.36,150.48,66.20,77,75,10.29,broken clouds,0.0,0.0
4,4,Ocos,GT,2019-11-04 08:02:55,14.51,-92.19,73.40,94,20,2.24,few clouds,0.0,0.0

Filter the DataFrame for minimum and maximum temperature preferences, and if the rain or snow accumulation is 0 inches or not using conditional statements. Do the following:

In [3]:
cols = city_data_df.columns.tolist()
cols

['City_ID',
 'City',
 'Country',
 'Date',
 'Lat',
 'Lng',
 'Max Temp',
 'Humidity',
 'Cloudiness',
 'Wind Speed',
 'Current Description',
 'Rain inches (last 3 hours)',
 'Snow inches (last 3 hours)']

In [4]:
# Prompt the customer for the minimum temperature preference.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the customer for the maximum temperature preference. 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Prompt the customer to answer if he or she would like it to be raining or not.
rain = str(input('Do you want it to be raining? (yes/no)\n'))
# Prompt the customer to answer if he or she would like it to be snowing or not
snow = str(input('Do you want it to be snowing? (yes/no)\n'))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no)
no
Do you want it to be snowing? (yes/no)
no

In [5]:
# Filter the dataset to find the cities that fit the criteria.
for index, row in city_data_df.iterrows():
    if rain == "no":
        rain_inches = city_data_df["Rain inches (last 3 hours)"] == 0
    else:
        rain_inches = city_data_df["Rain inches (last 3 hours)"] != 0
    if snow == "no":
        snow_inches = city_data_df["Snow inches (last 3 hours)"] == 0
    else:
        snow_inches = city_data_df["Snow inches (last 3 hours)"] != 0

In [6]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Rain inches (last 3 hours)"] != rain_inches) &
                                       (city_data_df["Snow inches (last 3 hours)"] != snow_inches) &
                                       (city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Tessalit,ML,2019-11-04 08:02:54,20.20,1.01,88.07,14,0,11.21,clear sky,0.00,0.0
1,1,Atuona,PF,2019-11-04 08:02:54,-9.80,-139.03,80.33,76,0,18.99,clear sky,0.00,0.0
2,2,Mataura,NZ,2019-11-04 08:02:54,-46.19,168.86,66.00,50,100,4.00,overcast clouds,0.00,0.0
3,3,Ulladulla,AU,2019-11-04 08:02:55,-35.36,150.48,66.20,77,75,10.29,broken clouds,0.00,0.0
4,4,Ocos,GT,2019-11-04 08:02:55,14.51,-92.19,73.40,94,20,2.24,few clouds,0.00,0.0
5,5,Kapaa,US,2019-11-04 08:02:55,22.08,-159.32,77.00,78,90,3.06,overcast clouds,0.00,0.0
6,6,Arraial Do Cabo,BR,2019-11-04 08:02:55,-22.97,-42.02,75.22,86,99,18.95,overcast clouds,0.00,0.0
7,7,Phek,IN,2019-11-04 08:02:56,25.70,94.46,71.29,67,6,1.99,light rain,1.25,0.0
8,8,Lebu,ET,2019-11-04 08:02:56,8.96,38.73,66.74,52,87,12.28,overcast clouds,0.00,0.0
10,10,Jamestown,AU,2019-11-04 08:02:56,-33.21,138.60,54.95,51,0,14.90,clear sky,0.00,0.0

Add the cities to a marker layer map with a pop-up marker for each city that includes:

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tessalit,ML,88.07,clear sky,20.20,1.01,
1,Atuona,PF,80.33,clear sky,-9.80,-139.03,
2,Mataura,NZ,66.00,overcast clouds,-46.19,168.86,
3,Ulladulla,AU,66.20,broken clouds,-35.36,150.48,
4,Ocos,GT,73.40,few clouds,14.51,-92.19,
5,Kapaa,US,77.00,overcast clouds,22.08,-159.32,
6,Arraial Do Cabo,BR,75.22,overcast clouds,-22.97,-42.02,
7,Phek,IN,71.29,light rain,25.70,94.46,
8,Lebu,ET,66.74,overcast clouds,8.96,38.73,
10,Jamestown,AU,54.95,clear sky,-33.21,138.60,

In [8]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [9]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [11]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, choose at least four cities in close proximity on your map that are on the same continent that a customer might travel to, and then create a directions layer map.

In [12]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Tessalit,ML,2019-11-04 08:02:54,20.20,1.01,88.07,14,0,11.21,clear sky,0.00,0.0
1,1,Atuona,PF,2019-11-04 08:02:54,-9.80,-139.03,80.33,76,0,18.99,clear sky,0.00,0.0
2,2,Mataura,NZ,2019-11-04 08:02:54,-46.19,168.86,66.00,50,100,4.00,overcast clouds,0.00,0.0
3,3,Ulladulla,AU,2019-11-04 08:02:55,-35.36,150.48,66.20,77,75,10.29,broken clouds,0.00,0.0
4,4,Ocos,GT,2019-11-04 08:02:55,14.51,-92.19,73.40,94,20,2.24,few clouds,0.00,0.0
5,5,Kapaa,US,2019-11-04 08:02:55,22.08,-159.32,77.00,78,90,3.06,overcast clouds,0.00,0.0
6,6,Arraial Do Cabo,BR,2019-11-04 08:02:55,-22.97,-42.02,75.22,86,99,18.95,overcast clouds,0.00,0.0
7,7,Phek,IN,2019-11-04 08:02:56,25.70,94.46,71.29,67,6,1.99,light rain,1.25,0.0
8,8,Lebu,ET,2019-11-04 08:02:56,8.96,38.73,66.74,52,87,12.28,overcast clouds,0.00,0.0
10,10,Jamestown,AU,2019-11-04 08:02:56,-33.21,138.60,54.95,51,0,14.90,clear sky,0.00,0.0

## Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.

In [13]:
Huambo = preferred_cities_df[preferred_cities_df['City'].str.contains("Huambo")]
Huambo

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
434,434,Huambo,AO,2019-11-04 08:04:50,-12.78,15.73,72.52,64,75,8.01,light rain,0.81,0.0

In [14]:
MbanzaNgung = preferred_cities_df[preferred_cities_df['City'].str.contains("Mbanza-Ngung")]
MbanzaNgung

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
28,28,Mbanza-Ngungu,CD,2019-11-04 08:03:00,-5.25,14.87,73.92,91,100,3.98,light rain,0.19,0.0

In [15]:
Omboue = preferred_cities_df[preferred_cities_df['City'].str.contains("Omboue")]
Omboue

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
465,465,Omboue,GA,2019-11-04 08:04:58,-1.57,9.26,73.33,96,100,4.14,moderate rain,7.63,0.0

In [16]:
Moyale = preferred_cities_df[preferred_cities_df['City'].str.contains("Moyale")]
Moyale

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
492,492,Moyale,ET,2019-11-04 08:05:05,3.52,39.05,77.72,65,98,11.12,light rain,0.63,0.0

## Use the list indexing and Pandas methods to get the latitude-longitude pairs for each city DataFrame as tuples.

In [17]:
four_cities = pd.concat([Huambo, MbanzaNgung, Omboue, Moyale])
four_cities

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
434,434,Huambo,AO,2019-11-04 08:04:50,-12.78,15.73,72.52,64,75,8.01,light rain,0.81,0.0
28,28,Mbanza-Ngungu,CD,2019-11-04 08:03:00,-5.25,14.87,73.92,91,100,3.98,light rain,0.19,0.0
465,465,Omboue,GA,2019-11-04 08:04:58,-1.57,9.26,73.33,96,100,4.14,moderate rain,7.63,0.0
492,492,Moyale,ET,2019-11-04 08:05:05,3.52,39.05,77.72,65,98,11.12,light rain,0.63,0.0

In [18]:
columnsData = four_cities.loc[:,['City','Lat','Lng']]
columnsData

              City    Lat    Lng
434         Huambo -12.78  15.73
28   Mbanza-Ngungu  -5.25  14.87
465         Omboue  -1.57   9.26
492         Moyale   3.52  39.05

## Use the directions Layer instructions from the gmaps documentation.

In [35]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Huambo = (-12.78, 15.73)
MbanzaNgung = (-5.25, 14.87)
Omboue = (-1.57, 9.26)
Moyale = (3.52, 39.05)

fig = gmaps.figure()
Huambo2MbanzaNgungu = gmaps.directions_layer(Moyale, Huambo, waypoints=[Omboue, MbanzaNgung])
fig.add_layer(Huambo2MbanzaNgungu)
fig

Figure(layout=FigureLayout(height='420px'))

## For the travel_mode, use either DRIVING, BICYCLING, or WALKING.

In [39]:
fig = gmaps.figure()
Huambo2MbanzaNgungu_via_driving = gmaps.directions_layer(
        Moyale, Huambo, waypoints=[Omboue, MbanzaNgung],  
        travel_mode='DRIVING')
fig.add_layer(Huambo2MbanzaNgungu_via_driving)
fig

Figure(layout=FigureLayout(height='420px'))

## Create a marker layer map for the four cities.

In [21]:
four_cities

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
434,434,Huambo,AO,2019-11-04 08:04:50,-12.78,15.73,72.52,64,75,8.01,light rain,0.81,0.0
28,28,Mbanza-Ngungu,CD,2019-11-04 08:03:00,-5.25,14.87,73.92,91,100,3.98,light rain,0.19,0.0
465,465,Omboue,GA,2019-11-04 08:04:58,-1.57,9.26,73.33,96,100,4.14,moderate rain,7.63,0.0
492,492,Moyale,ET,2019-11-04 08:05:05,3.52,39.05,77.72,65,98,11.12,light rain,0.63,0.0

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in four_cities.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        four_cities.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
four_cities_hotel_info = [info_box_template.format(**row) for index, row in four_cities.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = four_cities[["Lat", "Lng"]]
max_temp = four_cities["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=four_cities_hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))